@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@theme {
  --color-primary-500: #ec4899;
}

:root {
  font-family: "Quicksand", sans-serif;
}

.bordered-element {
  border: 15px solid transparent; /* Essential: Set a solid, transparent border */
  padding: 20px; /* Add padding for content inside the border */
  border-image: url("vine-frame.jpg") 30 round; /* Adjust values as needed */
  /* Explanation of border-image properties:
     - url('path/to/your/border-image.png'): Specifies the image source.
     - 30: Defines the slice amount (e.g., 30px from each edge for slicing).
     - round: Specifies how the image edges should be repeated or stretched. Other options include 'stretch' and 'repeat'.
  */
  border-radius: 100px;
}
